<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/banner-ico.png" width="30" height="30" alt="">
      SpotiApp
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="home">
          <a class="nav-link" routerLink="search">Search</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>



  </div>
</nav>

<div class="card-columns">

  <div *ngFor="let artista of artistas" class="row">
    <div class="col">
      <div class="card h-100">
        <img [src]="artista.images[0].url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            {{ artista.name }}
          </h5>
          <p class="card-text">
            <span *ngFor="let artista of artista.artists" class="badge badge-pill badge-primary">{{ artista.name }}</span>
          </p>
        </div>
      </div>
    </div>

</div>
